{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat || MSF</title>
    <link rel="shortcut icon" type="image/x-icon" href={% static 'img/favicon/prueba.png' %}>
    <link type="text/css" rel="stylesheet" href="{% static 'css/chat.css' %}"/>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    
</head>
<body>
    {% include 'navbars/navbar.html' %}
        <div class="section" style="height: 100%">
            <div class="row divContent" id='prueba'>
                <div class="chats" id='chats'>
                    <div class="buscarChats">
                        <form method="GET">
                            <input type="text" name="q" placeholder="Buscar chats" value="{% if query %}{{ query }}{% endif %}">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <div id="boardTwo">
                        <div class="">
                            <div class="collectionChats">
                                {% if users %}
                                    {% for user in users %}
                                        {% if request.user.is_superuser or user == request.user or user.is_superuser %}
                                            <a href="{% url 'chat' request.user.id user.id %}" id="user{{ user.id }}"  data-chat-url="{% url 'chat' request.user.id user.id %}">
                                                <div class="img">
                                                    <img src="https://media.istockphoto.com/id/1130884625/es/vector/icono-de-vector-de-miembro-de-usuario-para-interfaz-de-usuario-ui-o-perfil-cara-aplicaci%C3%B3n.jpg?b=1&s=612x612&w=0&k=20&c=v3r_gH3_ndsI50TrOgOMw1DkBNy2SCcL7XKYG8bn_C8=">
                                                    <div class="enLinea"></div> 
                                                </div>
                                                <div class="titleChat">
                                                    <span class="title" style="font-weight: bolder">{{ user.username }}</span>
                                                </div>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h1>No hay conversaciones</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat" id="chatContainer">
                    <div class="fondoImg"></div>
                    <div class="cardC">
                        <div id="board">
                            <div class="message-container">
                                {% for message in messages %}
                                    <div class="message {% if message.sender_id == sender %}right{% else %}left{% endif %}">
                                        <div class="M">
                                            <p>{{ message.message }}</p>
                                        </div>
                                        
                                        <div class="MH">
                                            <p>{{ message.sender }} {{ message.timestamp|time:"H:i" }}</p>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="mensajeInicial">
                                        <p>Bienvenid@ a nuestro chat en línea, envíanos un mensaje y te responderemos enseguida.😀↓</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <form id="chat-box" class="form-group" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sender" value="{{ request.user.id }}">
                        <input type="hidden" name="receiver" value="{{ receiver.id }}">
                        <div class="row esin">
                            <div class="inputM">
                                <input id="id_message" name="message" type="text" placeholder="Ingresa tu mensaje..">
                            </div>
                            <button type="submit" class="ingresarM">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </button>
                        </div>
                    </form>                    
                    
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function(){
                // Función para desplazar el scroll al final del contenedor de mensajes
                function scrollToBottom() {
                    var div = document.getElementById("board");
                    div.scrollTop = div.scrollHeight - div.clientHeight;
                }
        
                // Llamar a la función al cargar la página
                scrollToBottom();
        
                // Llamar a la función después de enviar un mensaje
                $("#chat-box").submit(function() {
                    scrollToBottom();
                });
            });
        </script>
        <script src={% static 'js/chatResponsive.js' %}></script>
        
        
</body>
</html>
