{% load static %}
<html>
<head>
    <title>Metodo De Pago</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <link rel="shortcut icon" type="image/x-icon" href={% static 'img/favicon/prueba.png' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static 'css/style_pago.css' %}>
</head>
<body>
  <!--Navbar inicio-->
    <header class="header-pos">
      {% include 'navbars/navbar.html' %}
    </header>
  <!--Navbar Fin-->

    <!--Boton De Pago Inicio-->
    <div class="container_pago">
        <h1>Metodos De Pago</h1><br>
        <h3>Como Deseas Pagar? {{ name_user }}</h3>
        <br>
        <div id="wallet_container">
        </div>
        <a href="{% url 'check' %}">Volver</a>
    </div>
    <!--Boton De Pago Fin-->

    <!-- footer start -->
		<footer>
			{% include 'footer/footer.html'%}
		</footer>
		<!-- footer end -->

    <!--Script Mercado Pago-->
    <script>
      const mp = new MercadoPago('APP_USR-5215c7bd-6591-46d9-9018-a338b7a2949d', {
        locale: 'es-CO'
      });
    
      const settings = {
        customization: {
          visual: {
            buttonBackground: 'default',
            borderRadius: '16px',
            horizontalPadding:'200px'
          },
        },
        initialization: {
          preferenceId: "{{ preference_id }}",
          redirectMode: "blank",
        },
      }
    
      mp.bricks().create("wallet", "wallet_container", settings);
    </script>
    
</body>
</html>