{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-logo">
                        <div class="iconoFooter">
                            <i class="fa-solid fa-bag-shopping"></i><p>Moda Sin Fronteras</p>
                        </div>
                        <p>🫣 Encuentra tu estilo, siéntete imparable y conquista el mundo con cada atuendo. ¡Tu ropa, tu historia, tu poder! ✌️</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top-area start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3>CONTACTANOS</h3>
                        <ul class="footer-contact">
                            <li>
                                <i class="fa fa-envelope"> </i>
                                Email: admin@BasicTheme.com
                            </li>
                            <li>
                                <i class="fa fa-phone"> </i>
                                Phone: +123 455657589
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                
            </div>
        </div>
    </div>
    <!-- footer-top-area end -->
    <!-- footer-bottom-area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>Copyright © <a href="#">Moda Sin Fronteras</a>. All Rights Reserved</p>
                        <div class="payment-img">
                            <img src={% static 'img/paypal.png' %} width="40px" height="40px">
                            <img src={% static 'img/tarjeta.png' %} width="40px" height="40px">
                            <img src={% static 'img/nequi.svg' %} width="40px" height="40px">
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>