*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(29,29,29);
    font-family:Arial,Helvetica,sans-serif;
}
::selection {
    background-color: rgb(254, 72, 71); /* Cambia el color de fondo del texto seleccionado */
    color: #ffffff; /* Cambia el color del texto seleccionado */
}

::-moz-selection {
    background-color: rgb(254, 72, 71); /* Cambia el color de fondo del texto seleccionado en Firefox */
    color: #ffffff; /* Cambia el color del texto seleccionado en Firefox */
}



.icono{
    margin-left: 100px;
}
.user{
    display: flex;
    align-items: center;
}
.botones{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-right: 50px;
}
.volver{
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
}
.volver:hover{
    color: rgb(254, 72, 71);
}
.bi{
    margin-right: 5px;
}
.enLinea{
    width: 15px;
    height: 15px;
    background-color: rgb(62, 247, 6);
    border: solid 2px rgb(62, 247, 6);
    border-radius: 100%;
    margin-left: -10px;
}
.botones a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.row{
    display: flex;
    align-items: center;
}
.divContent{
    border-top: solid 6px rgb(254, 72, 71);
}
.esin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 27px 0px 15px;
    position: relative;
    z-index: 2;
}
.chats{
    width: 40%;
    height: calc(100vh - 134px);
    margin: 10px;
    border: solid 1px white;
    border-radius: 10px;
}
.buscarChats{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.buscarChats input{
    width: 250px;
    height: auto;
    background-color: rgb(29,29,29);
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 8px 0px 0px 8px;
    border: solid 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.buscarChats button{
    width: 50px;
    height: auto;
    padding: 7px;
    background-color: rgb(29,29,29);
    color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 0px 8px 8px 0px;
}
.chat{
    position: relative;
    z-index: 2;
    width: 100%;
}
.divContent.active .chats{
    transform: translateX(-100%);
}
.cardC{
    position: relative;
    z-index: 2;
}
.fondoImg{
    position: absolute;
    z-index: 1;
    background-image: url("../img/bolso.e2241f49ac63.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
}

.inputM{
    width: 100%;
    margin-right: 20px;
}
.inputM input{
    width: 100%;
    background-color: rgba(29,29,29,.8);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 30px;
    transition: .3s ease-in-out;
    
}
.inputM input::placeholder {
    color: rgb(170, 170, 170);
}
.inputM input:hover{
    background-color: rgb(17, 17, 17);
    outline: 2px solid rgb(254, 72, 71);
}
.inputM input:focus{
    outline: 2px solid rgb(254, 72, 71);
}
.ingresarM{
    display: flex;
    align-items: center;
    background-color: rgb(254, 72, 71);
    color: rgb(255, 255, 255);
    border: solid 3px rgb(254, 72, 71);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 30px;
    transition: .3s ease-in-out;
}
.ingresarM:hover{
    background-color: transparent;
    border: solid 3px rgb(254, 72, 71);
    color: rgb(254, 72, 71);
}

.collectionChats {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.collectionChats a:hover {
    background-color: rgba(58, 58, 58, .5);
}

.collectionChats a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
    width: 100%;
}

.collectionChats a.active-chat {
    background-color: rgba(58, 58, 58, .5);  /* Color de fondo para el chat activo */
}

.img{
    display: flex;
    align-items: self-end;
    margin: 10px;
    margin-left: 15px;
    margin-right: 20px;
    width: auto;
}
.img img {
    width: 50px;
    border-radius: 50%;
}
.titleChat{
    display: flex;
    align-items: center;
}
.mensajeInicial{
    width: 400px;
    padding: 10px;
    display: block; /* Asegúrate de que la imagen sea un bloque para aplicar margen */
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.mensajeInicial p{
    margin: 0px;
}
#board{
    height: calc(100vh - 177px); 
    overflow-y: scroll;
    margin-right: 5px;
}
#board::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
#board::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border-radius: 6px;
    transition: .2s ease-in-out;
}
#board:hover::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}


#boardTwo{
    height: calc(100vh - 213px); 
    padding: 5px; 
    overflow-y: scroll;
    margin-top: 10px;
}

#boardTwo::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
#boardTwo::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border-radius: 6px;
    transition: .2s ease-in-out;
}
#boardTwo:hover::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}
.message-container {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin: 10px 10px;
    padding: 5px 10px;
    max-width: 40%;
}
.M{
    width: 100%;
    font-size: 20px;
    margin-right: 10px;
}
.M p{
    margin: 0px;
}
.MH{
    font-size: 12px;
    opacity: .7;
}
.MH p{
    margin: 0px;
}

.left {
    position: relative;
    background-color: #ffffff;
    color: rgb(29, 29, 29);
    border-radius: 0px 12px 12px 12px;
    align-self: flex-start;
    transition: .2s ease-in-out;
    text-align: left;
    padding-left: 13px;
}

.left:hover {
    background-color: #b9b9b9;
}

.left::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 24px;
    height: 24px;
    background: linear-gradient(225deg, #ffffff 0%, #ffffff 50%, transparent 50%, transparent 100%);
    transition: .2s ease-in-out;
}
.left:hover::before {
    background: linear-gradient(225deg, #b9b9b9 0%, #b9b9b9 50%, transparent 50%, transparent 100%);
}

.right {
    position: relative;
    background-color: rgb(254, 72, 71);
    color: white;
    border-radius: 12px 0px 12px 12px;
    align-self: flex-end;
    transition: .2s ease-in-out;
    text-align: left;
}

.right:hover {
    background-color: rgb(251, 6, 6);
}

.right::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 24px;
    height: 24px;
    background: linear-gradient(135deg, rgb(254, 72, 71) 0%, rgb(254, 72, 71) 50%, transparent 50%, transparent 100%);
    transition: .2s ease-in-out;
}
.right:hover::before {
    background: linear-gradient(135deg, rgb(251, 6, 6) 0%, rgb(251, 6, 6) 50%, transparent 50%, transparent 100%);
}


body.light-mode .chats{
    border: solid 1px rgb(29,29,29);
    color: rgb(29,29,29);
}
body.light-mode .buscarChats input{
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(29,29,29);
    color: rgb(29,29,29);
}
body.light-mode .buscarChats button{
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(29,29,29);
    color: rgb(29,29,29);
}
body.light-mode .collectionChats a{
    color: rgb(58, 58, 58);
}
body.light-mode .collectionChats a:hover{
    background-color: rgba(151, 151, 151, 0.5);
}
body.light-mode .collectionChats img{
    border: solid 1px rgb(29,29,29);
}
body.light-mode .mensajeInicial{
    background-color: rgb(255, 255, 255);
    color: rgb(29,29,29);
    border: solid 2px rgb(29,29,29);
}
body.light-mode .inputM input{
    background-color: rgb(255, 255, 255);
    color: rgb(29,29,29);
    border: solid 1px rgb(29,29,29);
}
body.light-mode .inputM input::placeholder{
    color: rgb(58, 58, 58);
}
body.light-mode .inputM input:hover{
    background-color: rgb(212, 212, 212);
}
body.light-mode .chat{
    background-color: rgb(255, 230, 230);
}
body.light-mode .buscarChats input{
    color: rgb(58, 58, 58);
}
body.light-mode .left {
    background-color: rgb(255, 255, 255);
    color: rgb(58, 58, 58);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body.light-mode .right {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


body.light-mode #board:hover::-webkit-scrollbar-thumb{
    
    border: solid 2px rgb(29,29,29);
}
body.light-mode #boardTwo:hover::-webkit-scrollbar-thumb{
    
    border: solid 2px rgb(29,29,29);
}

@media (max-width: 1204px) {
    .buscarChats input{
        width: 200px;
    }
    .buscarChats button{
        width: 50px;
    }
}
@media (max-width: 1070px) {
    .buscarChats input{
        width: 170px;
    }
    .buscarChats button{
        width: 35px;
    }
}
@media (max-width: 912px) {
    .buscarChats input{
        width: 140px;
    }
    .buscarChats button{
        width: 35px;
    }
    .message{
        max-width: 50%;
    }
}
@media (max-width: 748px) {
    .chats{
        position: absolute;
        z-index: 3;
        background-color: rgb(29,29,29);
        width: 100%;
        height: calc(100vh - 107px);
        top: 107px;
        margin: 0px;
        border: none;
        border-radius: 0px;
        transition: all 500ms ease;
        left: 0;
    }
    body.light-mode .chats{
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .chat{
        position: relative;
        z-index: 2;
        transition: all 500ms ease;
    }
    
    .buscarChats input{
        width: 280px;
    }
    .buscarChats button{
        width: 70px;
    }
    .icono{
        margin-left: 50px;
    }
    .user{
        display: none;
    }
    .botones{
        width: auto;
        margin-right: 25px;
    }
    .volver p{
        font-size: 0%;
    }
    .buscarChats{
        padding-bottom: 20px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.048);
    }
    body.light-mode .buscarChats{
        border-bottom: solid 1px rgba(0, 0, 0, 0.151);
    }
    #boardTwo{
        height: calc(100vh - 193px); 
    }
    body.light-mode #boardTwo{
        height: calc(100vh - 195px); 
    }
    #board {
        height: calc(100vh - 157px);
    }
}
@media (max-width: 620px){
    .message{
        max-width: 60%;
    }
}
@media (max-width: 500px){
    .mensajeInicial{
        width: 350px;
        padding: 10px;
        margin-top: 15px;
        font-size: 14px;
    }
    .esin {
        margin: 5px 15px 0px 15px; 
    }
    .ingresarM{
        font-size: 20px;
        padding: 5px 20px;
    }
    .fondoImg{ 
        background-size: 250px;
    }
    #board{
        margin-right: 0px;
    }
}
@media (max-width: 438px){
    .buscarChats input{
        width: 200px;
    }
    .buscarChats button{
        width: 50px;
    }
    .mensajeInicial{
        width: 290px;
        font-size: 14px;
    }
    .M{
        font-size: 17px;
    }
    .message{
        padding: 4px 7px;
        max-width: 70%;
    }
    .left {
        padding-left: 13px;
    }
}
@media (max-width: 378px) {
    .mensajeInicial{
        width: 250px;
        padding: 5px;
        line-height: 0;
    }
    .esin {
        margin: 5px 13px 0px 13px; 
    }
    .ingresarM{
        padding: 5px 17px;
    }
    .fondoImg{ 
        background-size: 230px;
    }
    .inputM input{
        padding: 5px 10px; 
        font-size: 17px;   
    }
    .message{
        max-width: 80%;
    }
}
@media (max-width: 326px) {
    .buscarChats input{
        width: 190px;
    }
    .buscarChats button{
        width: 40px;
    }
    .mensajeInicial{
        width: 230px;
        padding: 5px;
    }
}