@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.containerL{
    background-color: rgb(29, 29, 29);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 580px;
    font-family: 'Montserrat', sans-serif;
}
body.light-mode .containerL{
    background-color: rgb(255, 255, 255);
}

.containerL p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containerL span{
    font-size: 12px;
}

.containerL a{
    color: #9e9e9e;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
body.light-mode .containerL a{
    color: rgb(121, 121, 121);
}
body.light-mode .containerL a:hover{
    color: rgb(255, 44, 44);
  }

.containerL button{
    background-color: rgb(254, 72, 71);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.containerL button.hiddenL{
    background-color: transparent;
    border-color: #fff;
}

.containerL form{
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    height: 100%;
}
body.light-mode .containerL form{
    background-color: rgb(255, 255, 255);
  }
.inputLogin{
    width: 100%;
}
.inputLogin h6{
    margin-top: 4px;
}
body.light-mode .inputLogin h6{
    color: rgb(58, 58, 58);
}
.titleLogin{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
body.light-mode .titleLogin{
    color: rgb(29, 29, 29);
}
.titleToggle{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.inputLogin input{
    background-color: rgb(29, 29, 29);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
}
body.light-mode .inputLogin input{
    background-color: rgb(233, 233, 233);
    border: 2px solid rgb(214, 214, 214);
  }
.inputLogin label{
    margin-bottom: -5px;
}
body.light-mode .inputLogin label{
    color: rgb(58, 58, 58);
  }
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.containerL.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.sign-up form input{
    background-color: rgb(29, 29, 29);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;  
}
.sign-up form label{
    margin-bottom: -5px;
}
.rowInput{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.inputRow{
    margin-right: 7px;
}
.containerL.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.containerL.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: rgb(254, 72, 71);
    height: 100%;
    background: linear-gradient(to right, rgb(255, 114, 114), rgb(221, 54, 54));
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containerL.active .toggle{
    transform: translateX(50%);
}
.maxWidth{}
.minWindth{
    display: none;
    align-items: center;
    justify-content: center;  
}
.containerL button.hiddenLM{
    background-color: transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);;
    border-radius: 40px;
    font-size: 15px;
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 70px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.containerL.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.containerL.active .toggle-right{
    transform: translateX(200%);
}
@media (max-width: 768px){
    .titleToggle {
        font-size: 27px;
    }
    .toggle-panel{
        padding: 0 40px;
    }
    .rowInput{
        flex-direction: column;
    }
    .titleLogin {
        font-size: 27px;
    }
    .inputRow {
        margin-right: 0px;
    }
}
@media (max-width: 692px){
    .sign-up form label{
        margin-bottom: -15px;
    }
    .inputRow {
        margin-top: -18px;
    }
    .containerL form{
        padding: 0 40px;
    }
}
@media (max-width: 597px){
    .containerL form{
        padding: 0 30px;
    }
}

@media (max-width: 536px){
    .toggle{
        left: 0;
        width: 150%;
    }
    .containerL.active .toggle-left {
        transform: translateX(15%);
    }
    .toggle-right{
        transform: translateX(-80%);
    }
    .toggle-container{
        left: 60%;
        width: 40%;
    }
    .containerL.active .toggle-container {
        transform: translateX(-150%);
    }
    .containerL.active .toggle {
        transform: translateX(0);
    }
    .sign-in{
        width: 60%;
    }
    .sign-up{
        left: -20%;
        width: 60%;
        opacity: 0;
        z-index: 1;
    }
    .titleToggle {
        font-size: 20px;
    }
    .toggle-panel{
        padding: 0 0px;
    }
    .containerL button{
        
        font-size: 10px;
        padding: 10px 25px;
        margin-top: 10px;
    }
}
@media (max-width: 384px){
    .minWindth{
        display: flex;  
    }
    .maxWidth{
        display: none;
    }
    .toggle-container{
        left: 85%;
        width: 15%;
    }
    .containerL.active .toggle-container {
        transform: translateX(-566%);
    }
    .sign-in{
        width: 85%;
    }
    .sign-up{
        left: -70%;
        width: 85%;
        opacity: 0;
        z-index: 1;
    }
}